.btnViewChangeActive span,
.btnViewChangeActive svg {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.btnViewChangeActive span {
  padding-left: 6px;
}

.btnViewChange {
  width: 55px;
  background-color: lightgray;
  border: 2px darkslategray solid;
  display: flex;
  margin: 0px;
  justify-content: center;
  height: 30px;
  align-items: center;
}

.btnViewChange svg {
  font-size: 20px;
  font-weight: 500;
  color: darkslategray;
}

.btnViewChangeActive {
  padding: 0px 15px;
  background-color: darkslategray;
  border: 2px blue solid;
  display: flex;
  margin: 0px;
  justify-content: center;
  height: 30px;
  align-items: center;
}
