span {
  color: white;
  padding-left: 0;
  font-weight: 700;
  font-size: x-large;
  line-height: 0.1;
}

@media (min-width: 380px) and (max-width: 576px) {
  span {
    font-size: large;
  }
}
@media (max-width: 380px) {
  span {
    font-size: medium;
  }
}

.logo-img {
  height: 64px;
  padding: 4px;
  margin-right: 4px;
}
.logo-link {
  display: flex;
  align-items: center;
}

.my-header {
  padding: 10px;
  background-color: #388e3c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.left-content {
  display: flex;
  align-items: center;
  margin-left: 2%;
}
