.content {
  background-color: ghostwhite;
}

.small-card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 20%;
  height: 30vh;
  margin: 1%;
}

.card-image {
  max-height: 66%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 33%;
  left: 0;
  right: 0;
  margin-top: auto;
}

.card-text {
  display: flex;
  position: absolute;
  top: 70%;
  left: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1;
}
