.btnFilter {
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: darkblue;
  width: 80%;
  border-radius: 20px;
}
.btnFilter:hover {
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.buttonText {
  font-weight: 800;
  padding: 3px;
}

ul {
  list-style: none;
  padding: 5px 5px 0px 5px;
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.mainCategory {
  display: inline-flex;
  width: 100%;
  list-style-type: none;
  height: fit-content;
  align-items: center;
  padding: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid whitesmoke;
  font-size: large;
  text-wrap: pretty;
  font-weight: 700;
  color: beige;
  justify-content: space-between;
}

.mainType {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  height: fit-content;
  padding: 2px 0px 2px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 0.5px solid white;
  font-size: small;
  text-wrap: pretty;
  font-weight: 500;
  color: white;
}

.mainCategory:last-child {
  border-bottom: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: 1;
  font-size: medium;
  align-items: center;
  margin: 3px;
  width: 100%;
}

.typetitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 1;
  align-items: center;
}
