body {
  font-family: Arial, sans-serif;
  background-color: rgb(25, 88, 88);
  /* padding: 0px; */
  margin: 0;
  width: 100vw;
  /* height: 100vh; */
  min-width: 360px;
  overflow-x: hidden;
}
root {
  width: 400px;
  height: 400px;
}
