body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
}
:root {
  --media-small: 576px;
  --media-medium: 768px;
  --media-large: 992px;
}
